<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>FunPlotter</title>
</head>

<body>
  <h1>FunPlotter</h1>
  <h2>A web app for plotting univariate functions</h2>

  <!-- Form for updating/removing function plots -->
  {% for f in functions %}
    {% set f_id = loop.index0 %}
    <form id="functionForm{{ f_id }}" method="post">
      <label for="function{{ f_id }}"> f(x) = </label>
      <input type="text" id="function{{ f_id }}" name="function{{ f_id }}" value="{{ f['label'] }}">
      <label for="setXMin{{ f_id }}"> x<sub>min</sub> = </label>
      <input type="text" id="setXMin{{ f_id }}" name="setXMin{{ f_id }}" value="{{ f['x_min'] }}">
      <label for="setXMax{{ f_id }}"> x<sub>max</sub> = </label>
      <input type="text" id="setXMax{{ f_id }}" name="setXMax{{ f_id }}" value="{{ f['x_max'] }}">
      <button type="submit" formaction="/update_function/{{ f_id }}"> Update </button>
      <button type="submit" formaction="/delete_function/{{ f_id }}"> Delete </button>
    </form>
  {% endfor %}

  <!-- Form for appending new functions to the graph -->
  <form id="addFunctionForm" action="/add_function" method="post">
    <label for="addFunction"> f(x) = </label>
    <input type="text" id="addFunction" name="addFunction" placeholder="Function definition">
    <label for="setXMin"> x<sub>min</sub> = </label>
    <input type="text" id="setXMin" name="setXMin" placeholder="Lower limit for x">
    <label for="setXMax"> x<sub>max</sub> = </label>
    <input type="text" id="setXMax" name="setXMax" placeholder="Upper limit for x">
    <button type="submit">Add Function</button>
  </form>

  <canvas id="funPlots"></canvas>

  <script>
    const ctx = document.getElementById('funPlots').getContext('2d');
    const dataSets = {{ functions | tojson }};
    const lineChart = new Chart(ctx, {
      type: 'line',
      data: {
        datasets: dataSets,
      },
      options: {
        scales: {
          x: {
            type: 'linear',
            position: 'bottom',
            title: {
              display: true,
              text: 'x'
            }
          },
          y: {
            type: 'linear',
            position: 'left',
            title: {
              display: true,
              text: 'y'
            }
          }
        }
      }
    });
  </script>
</body>

</html>