<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>FunPlotter</title>
</head>

<body>
  <h1>FunPlotter</h1>
  <h2>A web app for plotting univariate functions</h2>

  {% for function, edit_form in functions | zip(edit_forms) %}
    <form action="/" method="post" novalidate>
      <div style="display: flex; gap: 6px; padding: 3px 6px;">
        {{ edit_form.hidden_tag() }}
        <div>
          {{ edit_form.function.label }}
          {{ edit_form.function(value=function['label']) }}
        </div>
        <div>
          {{ edit_form.xMin.label }}
          {{ edit_form.xMin(value=function['x_min']) }}
        </div>
        <div>
          {{ edit_form.xMax.label }}
          {{ edit_form.xMax(value=function['x_max']) }}
        </div>
        <div>
          {{ edit_form.update }}
          {{ edit_form.delete }}
        </div>
        {% if edit_form.errors %}
          <div>
            <span>Not a valid update. Keeping original function.</span>
          </div>
        {% endif %}
      </div>
    </form>
  {% endfor %}

  <form id="addFunctionForm" action="/" method="post" novalidate>
    <div style="display: flex; gap: 6px; padding: 3px 6px;">
      {{ add_form.hidden_tag() }}
      <div>
        {{ add_form.function.label }}
        {{ add_form.function() }}
        {% for error in add_form.function.errors %}
          <br>
          <span>{{ error }}</span>
        {% endfor %}
      </div>
      <div>
        {{ add_form.xMin.label }}
        {{ add_form.xMin() }}
        {% for error in add_form.xMin.errors %}
          <br>
          <span>{{ error }}</span>
        {% endfor %}
      </div>
      <div>
        {{ add_form.xMax.label }}
        {{ add_form.xMax() }}
        {% for error in add_form.xMax.errors %}
          <br>
          <span>{{ error }}</span>
        {% endfor %}
      </div>
      <div>
        {{ add_form.submit }}
      </div>
    </div>
  </form>

  <canvas id="funPlots"></canvas>

  <script>
    const ctx = document.getElementById('funPlots').getContext('2d');
    const dataSets = {{ functions | tojson }};
    const lineChart = new Chart(ctx, {
      type: 'line',
      data: {
        datasets: dataSets,
      },
      options: {
        scales: {
          x: {
            type: 'linear',
            position: 'bottom',
            title: {
              display: true,
              text: 'x'
            }
          },
          y: {
            type: 'linear',
            position: 'left',
            title: {
              display: true,
              text: 'f(x)'
            }
          }
        }
      }
    });
  </script>
</body>

</html>