<!-- Form for function input and limits -->
<form class="row m-1" action="{{ url_for('index') }}" method="post" novalidate>
  {{ add_form.hidden_tag() }}
  <div class="row g-1">

    <!-- Function input -->
    <div class="col-4 col-sm-3">
      <div class="input-group input-group-sm">
        {{ add_form.function.label(class_="input-group-text") }}
        {% if add_form.function.errors %}
          {{ add_form.function(class_="is-invalid form-control form-control-sm", placeholder_="Enter function (e.g.: sin(2*x))") }}
          <div class="invalid-feedback form-check">
            {% for err in add_form.function.errors %}
              {{ err }}
            {% endfor %}
          </div>
        {% else %}
          {{ add_form.function(class_="form-control form-control-sm", placeholder_="Enter function (e.g.: sin(2*x))") }}
        {% endif %}
      </div>
    </div>

    <!-- Min. x input -->
    <div class="col-4 col-sm-3">
      <div class="input-group input-group-sm">
        {{ add_form.xMin.label(class_="input-group-text") }}
        {% if add_form.xMin.errors %}
          {{ add_form.xMin(class_="is-invalid form-control form-control-sm", placeholder_="Enter x lower limit") }}
          <div class="invalid-feedback form-check">
            {% for err in add_form.xMin.errors %}
              {{ err }}
            {% endfor %}
          </div>
        {% else %}
          {{ add_form.xMin(class_="form-control form-control-sm", placeholder_="Enter x lower limit") }}
        {% endif %}
      </div>
    </div>

    <!-- Max. x input -->
    <div class="col-4 col-sm-3">
      <div class="input-group input-group-sm">
        {{ add_form.xMax.label(class_="input-group-text") }}
        {% if add_form.xMax.errors %}
          {{ add_form.xMax(class_="is-invalid form-control form-control-sm", placeholder_="Enter x upper limit") }}
          <div class="invalid-feedback form-check">
            {% for err in add_form.xMax.errors %}
              {{ err }}
            {% endfor %}
          </div>
        {% else %}
          {{ add_form.xMax(class_="form-control form-control-sm", placeholder_="Enter x upper limit") }}
        {% endif %}
      </div>
    </div>

    <!-- Submit button -->
    <div class="d-flex col-12 col-sm-3 gap-1 align-items-start">
      {{ add_form.submit(class_="btn btn-outline-success btn-sm flex-grow-1") }}
    </div>

  </div>
</form>
